<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Fernando Loro Velardo.
</p>
	<a href=https://github.com/fernnandolorov/quiz_2017> https://github.com/fernnandolorov/quiz_2017 </a>
<p>
    
</p>

<img style="width:800px;" src="/images/fernando.jpg" />

